* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #000;
  display: block;
  color: #fff;

  padding: 16px 0px 16px 16px;
}

.title {
  padding-left: 8px;
}

.searchArea {
  display: block;
  font-size: 27px;
  padding-top: 3px;
}

.searchArea input {
  width: calc(100vw - 70px);
  font-size: 24px;
  padding-left: 16px;
  height: 34px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px rgb(161, 161, 161);
}

.fa-search {
  color: rgb(161, 161, 161);
  width: 53px;
  text-align: center;
  height: 34px;
  border-bottom: solid 2px rgb(161, 161, 161);
}
